apiVersion: v1
clusters:
- cluster:
    server: http://{{ groups['apiserver'] | map('extract', hostvars, ['ip']) | first }}:8080
  name: istio
contexts:
- context:
    cluster: istio
    user: ""
  name: istio
current-context: istio