version: '3.7'
services:
  etcd:
    image: quay.io/coreos/etcd:latest
    command: ["/usr/local/bin/etcd", "-advertise-client-urls=http://0.0.0.0:2379", "-listen-client-urls=http://0.0.0.0:2379"]
    network_mode: host
